---
import Layout from "../../layouts/Layout.astro";
import BoxIntro from "../../components/BoxIntro.astro";
---

<Layout title="View Transitions Boxes | Green">
  <main class="flex min-h-[200dvh] items-start">
    <BoxIntro color="green" />
  </main>
</Layout>
