---
import Layout from "../../layouts/Layout.astro";
import BoxIntro from "../../components/BoxIntro.astro";
---

<Layout title="View Transitions Boxes | Red">
  <main class="flex flex-col items-start pb-120">
    <BoxIntro color="red" />
    <div class="rich-text mx-auto max-w-[65ch]">
      <h1>Red Squares</h1>
      <p>
        Anim minim adipisicing nulla labore exercitation anim et anim. Culpa ex
        non aliqua pariatur. Dolor laborum do incididunt esse aute pariatur
        eiusmod veniam amet minim velit eiusmod sunt. Aliquip nulla
        reprehenderit voluptate minim non.
      </p>

      <p>
        Esse voluptate enim quis labore veniam ad minim excepteur. Ut velit sunt
        elit cupidatat cillum fugiat exercitation voluptate ad dolore veniam
        reprehenderit ex. Dolore amet aute qui minim consectetur labore et
        dolore. Sit nostrud adipisicing eu esse voluptate aliquip pariatur nulla
        commodo reprehenderit excepteur cillum qui adipisicing. Est fugiat
        voluptate exercitation pariatur occaecat magna irure. Lorem dolor minim
        eiusmod aliquip esse nostrud.
      </p>

      <p>
        Aliquip ut sunt deserunt irure enim amet est ea dolore eu est culpa
        velit. Est elit fugiat aliquip minim aute aliquip ipsum esse anim dolore
        laboris deserunt do consectetur. Nisi proident eiusmod officia et sint
        aliquip nulla. Eu aliquip reprehenderit cillum adipisicing officia
        fugiat velit mollit id aute ut. Eu deserunt culpa mollit culpa. Pariatur
        nulla magna ea et id dolor ullamco sunt.
      </p>

      <p>
        Irure in enim aute nisi. Consectetur cupidatat esse ipsum anim ad qui
        aute duis cupidatat ipsum sit sit non. Exercitation id culpa elit
        consectetur commodo magna. Ea aliquip velit do magna mollit voluptate
        mollit labore velit. Consectetur ad eiusmod mollit ad deserunt minim
        adipisicing veniam officia voluptate enim ad. Ut cupidatat aliquip dolor
        irure reprehenderit in proident ut minim aute.
      </p>

      <p>
        Nisi ullamco ex consectetur ex dolor tempor do. Ut ea id ullamco enim
        officia sint enim nulla esse culpa ex consequat sunt. Aliqua fugiat
        cupidatat exercitation incididunt voluptate laborum commodo commodo elit
        ex adipisicing velit officia. Aliqua incididunt quis commodo ex.
      </p>
    </div>
  </main>
</Layout>
