---
import Layout from "../../layouts/Layout.astro";
import BoxIntro from "../../components/BoxIntro.astro";
---

<Layout title="View Transitions Boxes | Red">
  <main class="flex min-h-screen-nav items-center justify-center">
    <BoxIntro color="red" />
  </main>
</Layout>
