---
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
---

<Layout title="View Transitions Example">
  <main>
    <h1 class="text-3xl font-black">Hello World</h1>
  </main>
</Layout>
