---
import Layout from "../layouts/Layout.astro";
import video from "../assets/videos/waves.mp4";
import cards from "../data/cards.js";
---

<Layout title="Ocean | View Transitions Example">
  <header
    class="relative min-h-screen w-full"
    style="view-transition-name: ocean"
  >
    <div class="text-white">
      <h2 class="text-6xl font-bold drop-shadow">
        {cards[0].title}
      </h2>
      <p class="text-lg">
        {cards[0].subtitle}
      </p>
    </div>
    <div
      class="absolute inset-0 -z-10 overflow-hidden rounded-xl after:absolute after:inset-0 after:z-10 after:bg-gradient-to-br after:from-black/60 after:via-black/60 after:via-20% after:to-transparent"
    >
      <video
        autoplay
        loop="true"
        muted="true"
        playsinline="true"
        autoplay="true"
        class="h-full w-full object-cover"
      >
        <source src={video} type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </header>
</Layout>
