---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="View Transitions Boxes | Blue">
  <main class="mx-auto max-w-5xl">
    <header class="mt-120">
      <div class="grid w-full gap-56 p-32 md:grid-cols-[1.2fr_1fr]">
        <div class="text-[20vw]">
          <h1 class="flex items-center gap-10 text-5xl font-bold">
            <span>✅</span>
            <span>Check Mark Button</span>
          </h1>
          <p
            class="mb-[-10%] w-fit translate-x-[-10%] text-[200px] sm:text-[30vw] xl:text-[400px]"
            style=`view-transition-name:check-mark;`
          >
            ✅
          </p>
        </div>
        <div class="rich-text">
          <h2>Emoji Meaning</h2>
          <p>
            A check mark that displays with a white outlined appearance. Shows
            on most platforms with a bright green rounded rectangle or circle
            surrounding it.
          </p>
          <p>
            Android previously displayed this as an outlined blue check mark /
            blue tick.
          </p>
          <p>
            This emoji is not supported in Twitter / X names, possibly in an
            attempt to minimize confusion with a verified checkmark.
          </p>
          <h2>Copy and Paste</h2>
          <label>
            Copy and paste this emoji:
            <input
              type="text"
              value="✅"
              readonly
              class="w-44 border text-3xl"
            />
          </label>
        </div>
        <p></p>
      </div>
    </header>
  </main>
</Layout>
