---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="View Transitions Boxes | Blue">
  <main class="mx-auto max-w-5xl">
    <header class="mt-120">
      <div class="grid w-full gap-56 p-32 md:grid-cols-[1.2fr_1fr]">
        <div class="text-[20vw]">
          <h1 class="flex items-center gap-10 text-5xl font-bold">
            <span>❤️</span>
            <span>Red Heart</span>
          </h1>
          <p
            class="mb-[-10%] w-fit translate-x-[-10%] translate-y-[-15%] text-[200px] sm:text-[30vw] xl:text-[400px]"
            style=`view-transition-name:red-heart;`
          >
            ❤️
          </p>
        </div>
        <div class="rich-text">
          <h2>Emoji Meaning</h2>
          <p>
            A classic red love heart emoji, used for expressions of love and
            romance. This is the most popular heart emoji A similar emoji exists
            for the heart suit in a deck of playing cards.
          </p>
          <p>
            On Snapchat, this emoji displays next to a friend when you have been
            #1 BFs with each other for two consecutive weeks.
          </p>
          <h2>Copy and Paste</h2>
          <label>
            Copy and paste this emoji:
            <input
              type="text"
              value="❤️"
              readonly
              class="w-44 border text-3xl"
            />
          </label>
        </div>
        <p></p>
      </div>
    </header>
  </main>
</Layout>
