---
import LogoSvg from "../assets/images/logo.svg?raw";

const pathname = new URL(Astro.request.url).pathname;

const validatePath = pathname.match(/^\/[^\/]*/);

const links = [
  {
    href: "/boxes",
    text: "Boxes",
  },
  {
    href: "/emojis",
    text: "Emojis",
  },
];
---

<header
  class="sticky top-0 flex h-56 w-full items-center justify-between gap-24 px-24 text-gray-800"
>
  <a href="/" class="inline-flex h-24 items-center gap-10 [&_svg]:h-full">
    <p class="sr-only">return to homepage</p>
    <Fragment set:html={LogoSvg} />
  </a>
  <nav>
    <ul class="flex list-none gap-24">
      {
        links.map(({ href, text }) => (
          <li>
            <a
              href={href}
              class:list={[
                "inline-flex h-24 items-center gap-10 text-xl",
                {
                  "font-bold": pathname.startsWith(href),
                },
              ]}
            >
              {text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
